<a href="https://colab.research.google.com/github/KhushbooChaudhari10/Python_Practice/blob/main/input_and_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Take name and age as input and print them in a formatted string.
name = input("Enter Your name: ")
age = int(input("Enter Your age: "))
print(f"Your name is {name} and age is {age}")

Enter Your name: khush
Enter Your age: 23
Your name is khush and age is 23

In [ ]:
#Take two numbers as input and print their sum, difference, product, and division.
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print(f"Sum of {num1} and {num2} is {num1+num2}")
print(f"Sub of {num1} and {num2} is {num1-num2}")
print(f"Mul of {num1} and {num2} is {num1*num2}")
print(f"Div of {num1} and {num2} is {num1/num2}")

Enter first number: 10
Enter second number: 5
Sum of 10 and 5 is 15
Sub of 10 and 5 is 5
Mul of 10 and 5 is 50
Div of 10 and 5 is 2.0

In [ ]:
#Ask the user for a string and an integer. Print the string that many times.
name = input("Enter Your name: ")
num = int(input("Enter Your number: "))
for i in range(num):
  print(name)

Enter Your name: khush
Enter Your number: 5
khush
khush
khush
khush
khush

In [ ]:
#Take comma-separated numbers from the user and print the list and tuple.
input_str = input("Enter comma separated numbers: ")
num_list = list(map(int, input_str.split(',')))
num_tuple = tuple(num_list)
print(f"List: {num_list}")
print(f"Tuple: {num_tuple}")

Enter comma separated numbers: 1,2,3,4
List: [1, 2, 3, 4]
Tuple: (1, 2, 3, 4)

In [ ]:
#Print the following using only one print() statement:

name = "khush"
age = 23
city = "Pune"
print(f"my name is {name}, age is {age} and I am llocated in {city}")

my name is khush, age is 23 and I am llocated in Pune

In [ ]:
#Take radius as input and print area of a circle with 2 decimal places.

r = float(input("Enter the radius: "))
PI = 3.14
area =  PI * r * r

print(f"Area of circle is {area: .2f}")

Enter the radius: 17
Area of circle is  907.46

In [ ]:
#Write a program to take a floating-point number and print only the integer part.
num = float(input("enter the number: "))
print(int(num))

enter the number: 14.23
14

In [ ]:
#Align three columns of data (Name, Age, City) using string formatting.
data = [
    ("John", 25, "Delhi"),
    ("Alice", 30, "Pune"),
    ("Khush", 23, "Mumbai")
]

print(f"{'Name': <10} {'Age': <10} {'City': <10}")
for name, age, city in data:
    print(f"{name: <10} {age: <10} {city: <10}")

Name       Age        City
John       25         Delhi
Alice      30         Pune
Khush      23         Mumbai

In [ ]:
#Take a sentence as input and print the number of words and characters.
sentence = input("Enter the sentence: ")
word_count = len(sentence.split())
character_count =len(sentence.replace(" ", ""))
print(f"Number of words in sentence is {word_count}")
print(f"Number of characters in sentence is {character_count}")

Enter the sentence: I like Rose
Number of words in sentence is 3
Number of characters in sentence is 9