<a href="https://colab.research.google.com/github/KhushbooChaudhari10/Python_Practice/blob/main/lambda_map_filter_reduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Square of a number using lambda
# Write a lambda function to return the square of a number.

def sqr(n):
  square = lambda n : n * n
  return square(n)

x = int(input("Enter a number: "))
print(sqr(x))

Enter a number: 5
25

In [4]:
#  Maximum of two numbers using lambda
# Use a lambda to return the larger of two numbers.

def maximum(a, b):
  maxi = lambda a, b : a if a > b else b
  return maxi(a, b)
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
maximum(x, y)

Enter first number: 4
Enter second number: 2

4

In [9]:
# Multiply all elements in a list using map and lambda
# Input: [1, 2, 3, 4]
# Output: [2, 4, 6, 8] (Multiply each by 2)

input = [1, 2, 3, 4]
def Multiply(a):
  output = list(map(lambda x : x * 2, a))
  print(output)

Multiply(input)

[2, 4, 6, 8]

In [11]:
# Filter even numbers from a list using filter() and lambda
# Input: [1, 2, 3, 4, 5, 6]
# Output: [2, 4, 6]
Input = [1, 2, 3, 4, 5, 6]
def even(n):
  if n % 2 == 0:
    return n

even_nums = filter(even, Input)
print(list(even_nums))

[2, 4, 6]

In [12]:
# Filter words longer than 4 letters
# Input: ['apple', 'hi', 'car', 'banana']
# Output: ['apple', 'banana']

Input= ["apple", 'hi', 'car', 'banana']
def len_words(word):
  if len(word) > 4:
    return word

long_words = filter(len_words, Input)
print(list(long_words))

['apple', 'banana']

In [14]:
# Convert all strings in a list to uppercase using map() and lambda
# Input: ['cat', 'dog', 'tiger']
# Output: ['CAT', 'DOG', 'TIGER']

Input= ['cat', 'dog', 'tiger']

uppercase_words = list(map(lambda x : x.upper(), Input))
print(uppercase_words)

['CAT', 'DOG', 'TIGER']

In [15]:
# Sum all numbers in a list using reduce() and lambda
# Input: [1, 2, 3, 4]
# Output: 10
from functools import reduce
def add(a, b):
  return a + b

x = [1, 2, 3, 4]
result = reduce(add, x)
print(result)

10

In [17]:
Input= [1, 2, 3, 4]
result = reduce(lambda a, b : a + b, Input)
print(result)

10

In [19]:
# Find the maximum number using reduce()
# Input: [10, 80, 32, 67]
# Output: 67
Input= [10, 80, 32, 67]
ans = reduce(lambda a, b : a if a > b else b, Input)
print(ans)

80

In [23]:
# Take a list of numbers, double the even ones, and sum them.
# Input: [1, 2, 3, 4, 5]
# Output: 12 (Only even: 2, 4 → double: 4, 8 → sum = 12)

My_List= [1, 2, 3, 4, 5]

even_nums = filter(even, My_List)
double_even = list(map(lambda x : x * 2, even_nums))
sum = reduce(add, double_even)
print(sum)

12