<a href="https://colab.research.google.com/github/KhushbooChaudhari10/Python_Practice/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create a List of N Elements
# Take N numbers as input from the user and store them in a list.

n = int(input("Enter the number of elements: "))
my_list = []

for i in range(n):
    element = int(input(f"Enter element {i+1}: "))
    my_list.append(element)

print(my_list)

Enter the number of elements: 5
Enter element 1: 2
Enter element 2: 3
Enter element 3: 6
Enter element 4: 7
Enter element 5: 2
[2, 3, 6, 7, 2]

In [ ]:
# Sum of List Elements
# Write a program to calculate the sum of all numbers in a list.
sum = 0
def add(list1):
  global sum
  for i in list1:
    sum += i
  return sum

a = [1, 2, 3, 4]
add(a)

10

In [ ]:
# Find Maximum and Minimum in a List
# Without using max() or min() functions.

def maxi(a):
  max_ele = a[0]
  for i in range(len(a)):
    if a[i] > max_ele:
      max_ele = a[i]
  return max_ele

def mini(a):
  min_ele = a[0]
  for i in range(len(a)):
    if a[i] < min_ele:
      min_ele = a[i]
  return min_ele

a = [1, 2, 3, 4]
print(maxi(a))
print(mini(a))

4
1

In [ ]:
# Remove Duplicates from List
# Keep only unique values.

def remove_duplicates(list1):
  unique_list = []
  for i in list1:
    if i not in unique_list:
      unique_list.append(i)
  return unique_list

a = [1, 2, 3, 4, 4, 5]
remove_duplicates(a)

[1, 2, 3, 4, 5]

In [ ]:
# Check if Element Exists in List
# Take a number from the user and check if it's present in the list.

My_list = [1, 2, 3, 4, 5]
target_num = int(input("Enter a number to search: "))
if target_num in My_list:
  print(f"{target_num} is present in the list.")
else:
  print(f"{target_num} is not present in the list.")

Enter a number to search: 100
100 is not present in the list.

In [ ]:
from itertools import count
# Count Even and Odd Numbers in a List
# Input: [1, 2, 3, 4, 5] â†’ Output: Even: 2, Odd: 3

def count_even_odd(list1):
  even_count = 0
  odd_count = 0
  for i in range(len(list1)):
    if list1[i] % 2 == 0:
      even_count += 1
    else:
      odd_count += 1
  return even_count, odd_count

list1 = [2, 3, 6, 7, 40, 20]
count_even_odd(list1)

(4, 2)

In [ ]:
# Reverse a List without Using reverse()
# Use slicing or a loop.

def reverse_list(list1):
  rev_list = []
  for i in range(len(list1)-1, -1, -1):
    rev_list.append(list1[i])
  return rev_list

L = [2, 4, 3, 5]
reverse_list(L)

[5, 3, 4, 2]

In [ ]:
# Find Second Largest Element in List
# Without sorting.

def second_largest(list1):
  largest = list1[0]
  for i in list1:
    if i > largest:
      largest = i

  second_largest = None
  for i in list1:
    if i != largest:
      if second_largest is None or i > second_largest:
        second_largest = i
  return second_largest

L = [2, 4, 3, 5]
second_largest(L)

4

In [ ]:
# Sort a List Without Using sort()
# Use a custom loop (like bubble sort).

def sort_list(L):
  n = len(L)
  for i in range(n):
    for j in range(0, n-i-1):
      if L[j] > L[j+1]:
        L[j], L[j+1] = L[j+1], L[j]
  return L

List1 = [2, 1, 8, 7]
sort_list(List1)

[1, 2, 7, 8]

In [ ]:
# Merge Two Lists and Sort the Result

def merge_and_sort(list1, list2):
  merged_list = list1 + list2
  return sorted(merged_list)

a = [1, 3, 5, 7]
b = [2, 4, 6]
merge_and_sort(a, b)

[1, 2, 3, 4, 5, 6, 7]

In [4]:
# List Comprehension: Square of Even Numbers
# From a list of numbers, create a new list of squares of only even numbers.

L1 = [1, 2, 3, 4, 5, 6]
square = [x ** 2 for x in L1 if x % 2 == 0 ]
print(square)

[4, 16, 36]

In [5]:
# Remove All Zeros from a List
L1 = [2, 0, 4, 3, 5, 0]
L2 = []
for i in L1:
  if i != 0:
    L2.append(i)
print(L2)

[2, 4, 3, 5]

In [7]:
# Split List into Two Based on Value
# Ex: All numbers < 10 go to list1, others to list2.
L = [2, 20, 4, 25, 9, 10, 30, 31, 6]
L1 = []
L2 = []

for i in L:
  if i < 10:
    L1.append(i)
  else:
    L2.append(i)
print(L1)
print(L2)

[2, 4, 9, 6]
[20, 25, 10, 30, 31]

In [8]:
# Flatten a Nested List
# Input: [[1, 2], [3, 4], [5]] â†’ Output: [1, 2, 3, 4, 5]
nested_list = [[1, 2], [3, 4], [5]]
flattened = []

for sublist in nested_list:
  for item in sublist:
    flattened.append(item)
print(flattened)

[1, 2, 3, 4, 5]