<a href="https://colab.research.google.com/github/KhushbooChaudhari10/Python_Practice/blob/main/Python_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Print 1 to 10
# Use a for loop to print numbers from 1 to 10.

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [1]:
# Print Even Numbers (1 to 50)
# Use a for loop to print only even numbers between 1 and 50.

for i in range(50):
  if i % 2 == 0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [2]:
# Sum of First N Natural Numbers
# Take n as input and print the sum of numbers from 1 to n.
n = int(input("Enter a number: "))
sum = 0
for i in range(n+1):
  sum += i
print(sum)

Enter a number: 15
120

In [3]:
# Print Each Character of a String
# Input: "Python"

string = "Python"
for i in string:
  print(i)

P
y
t
h
o
n

In [4]:
# Table of a Number
# Take a number as input and print its multiplication table up to 10.

n = int(input("Enter a number: "))
for i in range(11):
  print(n, "x", i, "=", n*i)

Enter a number: 5
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [5]:
# Print List in Reverse
# Given a list, print elements in reverse order using a for loop.

l = [1, 2, 3, 4]
for i in range(len(l)-1,-1,-1):
  print(l[i])

4
3
2
1

In [6]:
# Count Vowels in a String
# Input a string and count how many vowels it has using a for loop.

string = input("Enter the string: ")
Vowels_count = 0
for i in string:
  if i in "aeiouAEIOU":
    Vowels_count += 1
print(Vowels_count)

Enter the string: Khushboo
3

In [9]:
# Factorial of a Number
# Take a number n and calculate n! using a for loop.

n = int(input("Enter the number: "))
for i in range(1,n):
  n *= i
print(n)

Enter the number: 4
24

In [10]:
# Sum of Digits of a Number
# Input: 1234 → Output: 1+2+3+4 = 10

n = int(input("Enter the number: "))
sum = 0
while n > 0:
  rem = n%10
  sum += rem
  n //= 10

print(sum)

Enter the number: 1234
10

In [13]:
# Fibonacci Series up to n terms
# Input: n = 7 → Output: 0 1 1 2 3 5 8

n = int(input("Enter the number: "))
a = 0
b = 1
print(a,b,end=" ")
for i in range(2, n):
  c = a + b
  a = b
  b = c
  print(c, end=" ")

Enter the number: 5
0 1 1 2 3

In [8]:
# Prime Numbers in a Range
# Take two numbers as input, and print all prime numbers in that range using a for loop.
start = int(input("Enter the start number: "))
end = int(input("Enter the end number: "))
for num in range(start, end+1):
  if num > 1:
    Is_Prime = True
    for i in range(2, num):
      if num % i == 0:
        Is_Prime = False
        break
    if Is_Prime:
      print(num)

Enter the start number: 5
Enter the end number: 12
5
7
11

In [5]:
# Pattern Printing (Right-Angled Triangle)

n = int(input("Enter the number of rows: "))
for i in range(1, n+1):
  print("* " * i)

In [14]:
# Nested Loop – Multiplication Table (1 to 5)
# Print multiplication tables from 1 to 5 using nested for loops.

n1 = 1
n2 = 5
for i in range(n1, n2+1):
  for j in range(1, 11):
    print(i, "x", j, "=", i*j)
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [16]:
# Check Palindrome (Reverse a String)
# Take a string input and check if it’s a palindrome using a for loop.

word = input("Enter the word: ")
reverse_word = ""
for i in range(len(word)-1, -1, -1):
  reverse_word += word[i]

if reverse_word == word:
  print("Palindrome")
else:
  print("Not Palindrome")

Enter the word: abcba
Palindrome

In [18]:
List1 = [10, 20, 50, 25, 30, 5]
max_num = List1[0]
for i in range(0, len(List1)):
  if List1[i] > max_num:
    max_num = List1[i]
print(max_num)

50