<a href="https://colab.research.google.com/github/KhushbooChaudhari10/Python_Practice/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Create a Tuple

# Take n numbers as input and store them in a tuple.

# Example: (1, 2, 3, 4)

n = int(input("Enter the number of elements: "))
ele = []
for i in range(n):
  num = int(input("Enter the number:"))
  ele.append(num)

my_tuple = tuple(ele)
print(my_tuple)

Enter the number of elements: 4
Enter the number:2
Enter the number:3
Enter the number:4
Enter the number:5
(2, 3, 4, 5)

In [6]:
# Access Elements by Index
# Print the first, last, and middle element of a tuple.

print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[n//2])

2
5
4

In [11]:
# Count Occurrence of Element
# Count how many times a value (like 5) appears in a tuple.
def count_val(my_tuple):
  value = int(input("Enter the value to search: "))
  count = 0
  for i in my_tuple:
    if i == value:
      count += 1
  return count

x = (1, 2, 4, 3, 4, 5, 3)
count_val(x)

Enter the value to search: 3

2

In [12]:
# Check if an Element Exists
# Input a number from the user and check if it exists in the tuple.
def ele_exists(my_tuple):
  value = int(input("Enter the value to search: "))
  for i in my_tuple:
    if i == value:
      return True
  return False

x = (1, 2, 4, 3, 4, 5, 3)
ele_exists(x)

Enter the value to search: 3

True

In [13]:
# Length of Tuple
# Find and print the total number of elements in a tuple.
print(len(x))

7

In [17]:
# Find Index of Element
# Input a value and find its index in the tuple (first occurrence).

value = int(input("Enter the number"))
x = (1, 2, 4, 3, 4, 5, 3)
found = False
for i in range(len(x)):
  if x[i] == value:
    print(i)
    found = True

if not found:
  print("Not found")

Enter the number8
Not found

In [19]:
# Convert List to Tuple
# Input a list from the user and convert it into a tuple.

n = int(input("Enter the number of elements: "))
list1 = []
for i in range(n):
  num = int(input("Enter the number: "))
  list1.append(num)
print(list1)
tuple1 = tuple(list1)
print(tuple1)

Enter the number of elements: 4
Enter the number: 5
Enter the number: 10
Enter the number: 2
Enter the number: 5
[5, 10, 2, 5]
(5, 10, 2, 5)

In [20]:
# Concatenate Two Tuples
# Merge two tuples and print the result.

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6)

In [24]:
# Slice a Tuple
# Print the first 3 and last 3 elements using slicing.

tuple1 = (1, 2, 3, 4, 5 ,6)
print(tuple1[:3])
print(tuple1[-3:])

(1, 2, 3)
(4, 5, 6)

In [25]:
# Tuple with Mixed Data Types
# Create a tuple with integers, strings, and float. Print each using a loop.

tuple1 = (1, 2, 3, "hello", 4.5, True)
for i in tuple1:
  print(i)

1
2
3
hello
4.5
True

In [26]:
# Swap Two Tuples
# Swap the contents of two tuples.

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple1, tuple2 = tuple2, tuple1
print(tuple1)
print(tuple2)

(4, 5, 6)
(1, 2, 3)

In [27]:
# Nested Tuple Access
# Access elements inside a nested tuple:
# t = (1, 2, (3, 4, 5), 6) → Print 4

t = (1, 2, (3, 4, 5), 6)
print(t[2][1])

4

In [28]:
# Convert Tuple to String
# Input: ('h', 'e', 'l', 'l', 'o') → Output: "hello"

tuple1 = ('h', 'e', 'l', 'l', 'o')
str1 = ""
for i in tuple1:
  str1 += i
print(str1)

hello

In [30]:
# Find Max and Min from Tuple
# Find the maximum and minimum number from a tuple of integers.

tuple1  = (10, 20, 15, 3)
max_ele = 0
min_ele = 0

for i in tuple1:
  if i > max_ele:
    max_ele = i
  else:
    min_ele = i

print(max_ele)
print(min_ele)

20
3

In [32]:
# Repeat Tuple N Times
# Input a tuple and number n, print the tuple repeated n times.

tuple1 = (1, 2, 3)
n = int(input("Enter the number: "))
print((tuple1) * n)

Enter the number: 4
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)